footer.footer {
    width: 235px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    padding: 0px 25px;
    background-color: #fff; 
    overflow: hidden;
}