$background-color: linear-gradient(#141e30,#243b55);
$main-text-color: #fff;
$text-shadow-color: #000;
$text-stroke-color: gray;
$button-background-color: linear-gradient(rgb(255, 204, 0), rgb(255, 204, 102));
$button-color: #505050;
$button-stroke-color: #101010;
$button-shadow-border-color-hover: #383838;
$button-color-hover: #383838;
